---
import generateUrlPath from "@utils/generateUrlPath";
import WidgetTitle from "./WidgetTitle.astro";
import StarIcon from "./icons/StarIcon.astro";

interface Props {
  anime: {
    days: {
      day: string;
      animeList: AnimeCard4[];
    }[];
    baseUrlPath: string;
  };
}

const {
  anime: { days, baseUrlPath },
} = Astro.props;
---

<div class="flex flex-col gap-4">
  {
    days.map((day) => (
      <>
        <WidgetTitle title={day.day} />
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
          {day.animeList.map((anime) => (
            <>
              <a
                href={generateUrlPath(baseUrlPath, anime.animeId)}
                class="group rounded-lg relative"
              >
                <div class="relative">
                  <img
                    loading="lazy"
                    class="anime2-item-img"
                    src={anime.poster}
                    alt={anime.title}
                  />
                  <span class="anime2-item-type">{anime.type}</span>
                  <span class="anime2-item-score">
                    <StarIcon class="w-[12px] h-[12px]" />
                    <span>{anime.score}</span>
                  </span>
                  <span class="anime2-item-status">{anime.estimation}</span>
                </div>
                <div class="p-2">
                  <h3 class="anime2-item-title">{anime.title}</h3>
                </div>
              </a>
              <div class="hidden">{anime.genres}</div>
            </>
          ))}
        </div>
      </>
    ))
  }
</div>
